@import "reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap");

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary: #5C96D9;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  height: 100%;
  margin: 98px auto 0;
  background-color: #FFD540;
  box-sizing: border-box;
}

@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}